﻿@using Web_Test.Models
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Web_Test.Models.Student>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="text-center">

    <img id="Img_cstk" src="https://truth.bahamut.com.tw/s01/202210/44525bbe97034f97d47ea0357ad0d873.JPG?w=1000" >
    <p><a class="btn btn-primary" href="@Url.Action("Index", "Student")">移動到新增刪除學生畫面</a></p>
    <form id="Studentform" action="SaveStudent" method="post">
        <input type="text" name="Id" class="form-control" placeholder="學號" >
        <input type="text" name="Name" class="form-control" placeholder="姓名" >

        <button id="SaveData" type="submit" class="btn btn-success">儲存 btn</button>    
    </form>
    <a id="SaveData" class="btn btn-info">儲存 a</a>

    <style>
        /* 定義表格的樣式 */
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        /* 定義表格標題列的樣式 */
        th {
            
            padding: 8px;
            text-align: left;
        }

        /* 定義表格資料列的樣式 */
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        /* 定義包含樣式的<div>元素 */
        .custom-div {
         
            
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            text-align: center;
        }
    </style>

        
  
        
        <h2>學生資訊</h2>

        <table border="1">
            <tr>
                <th>學號</th>
                <th>姓名</th>
                <th>更新時間</th>

            </tr>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@(item.UpdateTime.HasValue ? item.UpdateTime.Value.ToString("yyyy/MM/dd") : "-")</td>
                        <td><a class="btn btn-danger" name="Btn_Delete" data-id="@item.Id">刪除</a></td>
                    </tr>

                }
            </tbody>
        </table>

    <div class="pagination" style="text-align: center; display: flex; justify-content: center;">

            @if (Model.HasPreviousPage)
            {
                @if (Model.PageNumber >= 3)
                {
                    <a href="@Url.Action("Index", new { page = 1 })"> &Lt; &nbsp; </a>
                }

                <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })"> &lt; &nbsp;</a>
            }

            @{
                int lastPage = 0;
            }

            @for (int i = 1; i <= Model.PageCount; i++)
            {

                if (i == Model.PageNumber)
                {
                    <span>@i &nbsp;</span>
                }
                else if (i == 1 || i == Model.PageCount || (i >= Model.PageNumber - 1 && i <= Model.PageNumber + 1))
                {
                    <a href="@Url.Action("Index", new { page = i })">@i &nbsp;</a>
                }
                else if (i == Model.PageNumber - 3 || i == Model.PageNumber + 3)
                {
                    <span>.... &nbsp;</span>
                }

                lastPage = i;
            }

            @if (Model.HasNextPage)
            {
                <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">&gt; &nbsp;</a>
            }          
           
            @if (Model.PageNumber != lastPage && Model.PageNumber != lastPage - 1)
            {
                    <a href="@Url.Action("Index", new { page = lastPage })">&Gt;</a>
             }

        </div>

   
            

<script>
       
        $(function () {
            $('#SaveData').on('click', function () {
                alert('確定儲存嗎?')
                console.log("3");
                $.ajax({
                    url: '@Url.Action("SaveStudent", "Home")',
                    data: $('#Studentform').serialize(),
                    method: 'post'
                }).done(function (res) {
                    alert(res)
                });
            });

            $('a[name="Btn_Delete"]').on('click', function (item) {
                console.log("3");
                console.log($(this).data('id'))
                DeleteData($(this).data('id'))
            })
        });

        function DeleteData(id) {
            if (confirm(`確定要刪除${id}的資料嗎?`)) {

                $.ajax({
                    url: '@Url.Action("DeleteStudent", "Home")',
                    data: { Id: id },
                    method: 'post'
                }).done(function (res) {
                    alert(res);
                    location.reload();
                });
            }
        }

       
        var myImage = document.querySelector("img");

        myImage.onclick = function () {
            let mySrc = myImage.getAttribute("src");
            console.log(123)
            if (mySrc === "https://truth.bahamut.com.tw/s01/202210/44525bbe97034f97d47ea0357ad0d873.JPG?w=1000") {
                myImage.setAttribute("src", "https://truth.bahamut.com.tw/s01/202210/d32b528d5ccd6964c8da3a919cc7adc6.JPG?w=1000");
            }
            else {
                myImage.setAttribute("src", "https://truth.bahamut.com.tw/s01/202210/44525bbe97034f97d47ea0357ad0d873.JPG?w=1000");

            }
        }


    </script>
</div>
 