﻿@using Web_Test.Models
@using Web_Test.Models.Entity
@using Web_Test.Models.Logic
@model MessageBoard
@{
    ViewData["Title"] = "留言修改";
    Layout = "_Layout";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1 class="text-center">@ViewData["Title"]</h1>


 <form id="Updateform" action="SaveStudent" method="post">
       @*  <input type='hidden' name="Sn" value="@Model.Sn"> *@
        <input type='hidden' asp-for="Sn">
    <input type="text" name="Name" class="form-control" placeholder="角色" value="@Model.Name">
    <input type="text" name="Message" class="form-control" placeholder="留言" value="@Model.Message">
</form>  

<a class="btn btn-success" id="UpData" >修改</a>

<script>
    $(function () {
        $('#UpData').on('click', function () {
            alert('確定要更改嗎?')
           
            $.ajax({
                url: '@Url.Action("UpdateMessage" , "Home")',
                data: $('#Updateform').serialize(),
                method: 'post'
            }).done(function (res) {
                alert(res)
                location.href = "@Url.Action("Privacy","Home")"
            });
        });
    })
    

</script>