﻿@using Web_Test.Models
@using Web_Test.Models.Logic
@using Web_Test.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Web_Test.Models.Entity.MessageBoard>
<link href="~/Content/PagedList.css" rel="stylesheet"/>

@{
    ViewData["Title"] = "動畫角色分享";
    Layout = "_Layout";
}


@using (Html.BeginForm("Privacy", "Home", FormMethod.Get))


@* @model List<MessageBoard> *@


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="text-center">
 <p><h2>分享最有印象的角色吧</h2></p>

<form id="Messageform" action="Savemessage" method="post">
<input type="text" name="Name" class="form-control" placeholder="角色"  >
<input type="text" name="Message" class="form-control" placeholder="原因：可以分享你為什麼對她有印象">

</form>
<p></p>
<a id="BtnSave" class="btn btn-success">留言</a>

<p></p>
        @using (Html.BeginForm())
    {
        <p>
            搜尋人物: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
<table class="table table-bordered">
        <thead>
            <tr>
                    
                <th>Name</th>
                <th>圖片</th>
                <th>留言</th>
                <th>更新時間</th>
                <th>功能</th>
            </tr>
        </thead>
         <tbody>
            @foreach (var item in Model)
            {

                <tr align="center" valign="middle">
                    
                    <td>@item.Name</td>
                    <td><img style="width:250px; height:auto " src="~/Image/@(item.Sn).jpg?@DateTime.Now.Ticks"></td>
                    <td style="text-align:left;">@item.Message</td>
                    <td>@(item.UpdateTime.HasValue ? item.UpdateTime.Value.ToString("yyyy/MM/dd") : "-")</td>
                    <td>
                        
                        <a class="btn btn-primary sqlKeyButton" data-sqlkey=@(item.Sn) href="#">修改</a>
                        <a class="btn btn-danger" name="Btn_Delete" data-sn="@item.Sn ">刪除</a>
                        <p></p>

                        @* 上傳圖片 *@
                        <form class="image-upload-form" method="post" action="@Url.Action("Upload", "Image")">
                            <input type="hidden" name="sn" value="@item.Sn" />
                            <input type="file" name="myimg" style="display: none;" id="fileInput" accept="image/*" />
                            <button type="button" class="btn btn-info upload-button" data-sn="@item.Sn">上傳圖片</button>
                        </form>                                              
                    </td>
                </tr>
            }
        </tbody> 
    </table>

    @* 分頁 *@
    <div class="pagination">
        @if (Model.HasPreviousPage)
        {
            @if(Model.PageNumber >= 3)
            {
                <a href="@Url.Action("Privacy", new { page = 1 })"> &Lt; &nbsp; </a>
            }
            
            <a href="@Url.Action("Privacy", new { page = Model.PageNumber - 1 })"> &lt; &nbsp;</a>
        }

        @{
            int lastPage = 0;
        }
        
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            
            if (i == Model.PageNumber)
            {
                <span>@i &nbsp;</span>
            }
            else
            {
                <a href="@Url.Action("Privacy", new { page = i })">@i &nbsp; </a>
            }
            lastPage = i;
        }        

        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("Privacy", new { page = Model.PageNumber + 1 })">&gt; &nbsp;</a>
        }

        @if (Model.PageNumber != lastPage && Model.PageNumber != lastPage -1)
        {
            <a href="@Url.Action("Privacy", new { page = lastPage })">&Gt;</a>
        }

    </div>

   
    <script>

        $(function () {
            $('#BtnSave').on('click', function () {
                alert('確定儲存嗎?')                          
                $.ajax({
                    url: '@Url.Action("SaveMessage" , "Home")',
                    data: $('#Messageform').serialize(),
                    method: 'post'
                }).done(function (res) {
                    alert(res)
                    location.reload();
                });
            });

            $('a[name="Btn_Delete"]').on('click', function (item) {
                console.log("3");
                console.log($(this).data('sn'))
                DeleteData($(this).data('sn'))
            })
        } )

        function DeleteData(sn) {
            if (confirm(`確定要刪除資料嗎?`)) {

                $.ajax({
                    url: '@Url.Action("DeleteMessage", "Home")',
                    data: { Sn: sn },
                    method: 'post'
                }).done(function (res) {
                    alert(res);
                    location.reload();
                });
            }
        }

        //修改資料
        $(document).ready(function () {
            // 當文檔已經完全加載時

            // 使用 jQuery 選擇按鈕元素並綁定點擊事件
            $('.sqlKeyButton').click(function (e) {
                e.preventDefault(); // 防止點擊超連結時導航到新頁面

                // 獲取按鈕上的 SQL Key 值
                var sqlKey = $(this).data('sqlkey');

                // 構建目標頁面的 URL，附加 SQL Key 值作為查詢字符串參數
                var targetUrl = '@Url.Action("MessageUpdate", "Home")' + '?sqlKey=' + sqlKey;
                
                // 導航到目標頁面
                window.location.href = targetUrl;
            });

        });

        //上傳圖片
        $(document).ready(function () {
            // 當點擊上傳按鈕時觸發
            $(".upload-button").on("click", function () {
                var snValue = $(this).data("sn");
                var form = $(this).closest(".image-upload-form");

                // 觸發文件選擇輸入框的點擊事件
                form.find("input[type='file']").click();
            });

            // 當用戶選擇文件後觸發
            $(".image-upload-form input[type='file']").on("change", function () {
                var snValue = $(this).closest(".image-upload-form").find("input[name='sn']").val();
                var fileInput = this;
                var myimg = fileInput.files[0];
                if (myimg) {
                    var formData = new FormData();
                    formData.append("sn", snValue);
                    formData.append("myimg", myimg);

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Upload", "Image")", // 替換為實際的上傳圖片操作的URL
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            // 上傳成功後執行的操作
                            location.reload()
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });
        });

    
    </script>






</div>