﻿@using Web_Test.Models.Entity
@using Web_Test.Models.Logic


@model int

@{
    ViewData["Title"] = "上傳圖片";
    Layout = "_Layout";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<form asp-controller="Image" asp-action="Upload"  method="post" enctype="multipart/form-data">
    <input type="text" name="sn" value="@Model"/>
    <input type="file" name="myimg" />
    <input type="submit" value="上傳" />
</form>

