﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Web_Test.Models.Logic
@model List<Student>

@{
    // 因為是附加到主頁, 所以不需要任何的base(基底)頁面
    Layout = null;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>更新時間</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@(item.UpdateTime.HasValue ? item.UpdateTime.Value.ToString("yyyy/MM/dd") : "-")</td>
                <td><a class="btn btn-danger" name="BtnDelete" data-id="@item.Id">刪除</a></td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        // 這邊因為此處都會重新產生, 需要將刪除綁定在這
        $('a[name="BtnDelete"]').on('click', function () {
            var id = $(this).data('id');
            DeleteData(id); // 此方法寫在主頁
        })
    })
</script>
