﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "學生儲存";
}
@model List<Student>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="text-center">
    <h1 class="display-4">新增學生資訊</h1>

    <label class="label">ID：</label> <input class="form-control" id="id" />
    <hr />
    <label class="label">NAME：</label><input class="form-control" id="name" />

    <a id="BtnSave" class="btn btn-success">新增</a>
</div>

<div class="text-center">
    <h1 class="display-4">編輯、刪除學生資訊</h1>
</div>

<div id="Div_List" class="container">

</div>

<script>
    $(function () {
        LoadList();

        $('#BtnSave').on('click', function () {
            $.ajax({
                url: '@Url.Action("SaveData", "Student")',
                data: { id: $('#id').val(), name: $('#name').val() },
                method: 'post'
            }).done(function (res) {
                alert(res);
                
                LoadList();
            });
        })
    })


    function LoadList() {
      
        $.ajax({
            url: '@Url.Action("IndexPartial", "Student")',
            method: 'post'
        }).done(function (res) {
            console.log(res);  
            $('#Div_List').html(res);
        });
    }

    function DeleteData(id) {
        if (confirm('確定刪除學號${id}的資料?'))
        { 
           $ajax({
               url:'@Url.Action("DeleteData" , "Student")',
               data: {Id: id},
               method :'post'
           }).done(function (res) {

               alert(res);
               LoadList();
           })
        
        
        }
    
    
    }

</script>


